body {
    /*background-color:darkblue;*/
}

#mainClass {
    margin: 1em;
    overflow: auto;
    height: 95%;
    width: 95%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*border for the map cells, for debug the cells*/
#flightDetails, #flightsLists, #mapid, #flightPlanJson {
    border: 1px solid black;
}


#mapid {
    width: 65%;
}

#flightDetailsText {
    margin: 1em;
    padding: 0.25em;
    height: 90%;
    border: 5px solid grey;
}

#flightsLists {
    width: 50%;
}

.pressed-row {
    background-color: lightblue;
}

.unpressed-row {
    background-color: white;
}

.single-flights-list {
    height: 50%;
    border: 3px solid green;
}

.single-flights-list-body {
    overflow-y: scroll;
    height:70%;
}

.single-flights-list-head{
    height:30%;
}

.local-flight-data {
    width: 80%;
}

.flight-delete{
    width:20%;
}

/*
#jsonFileLabel {
    top: inherit;
    right: inherit;
    left: inherit;
}
    */


/*
label {
    margin-top: 550px;
    height: 600px; //this was in inside comment
    background-color: black;
}
*/
.alert {
    margin-top: 40px;
}

.red-x {
    width: 40%;
    display: block;
    margin-right: 1em;
}

.flight-row-data{
    /*TODO make beautiful*/
}

#flightPlanJson{
    position:relative;
}
